* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    max-width: 400px; /* You can adjust the width as needed */
    width: 400px;
}